@model AP.Model.Models.Aluno
@{
    ViewData["Title"] = "Cadastro de Aluno";
}

<p></p>
<h2>Cdastro de Aluno</h2>
<div class="container">
    <form id="formCadastroAluno" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Nome">Nome</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: Helda" maxlength="20">
            </div>
            <div class="form-group col-md-6">
                <label for="Sobrenome">Sobrenome</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: Muxito" maxlength="20">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="RA">RA</label>
                <input required="required" type="text" class="form-control" id="RA" name="RA" placeholder="Ex.: 0098887" maxlength="8">
            </div>
            <div class="form-group col-md-4">
                <label for="CPF">CPF</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 010.001.011-01" maxlength="11">
            </div>
            <div class="form-group col-md-4">
                <label for="Sexo">Sexo</label>
                <select required="required" class="form-control" id="Sexo" name="Sexo">
                    <option selected>... Selecione ...</option>
                    <option value="M">Masculino</option>
                    <option value="M">Femenino</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Email</label>
                <input required="required" type="email" class="form-control" id="Email" name="Email" placeholder="Ex.: helda@gmail.com" maxlength="50">
            </div>
            <div class="form-group col-md-6">
                <label for="Telefone">Telefone</label>
                <input type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2290-2010 ">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <a class="btn btn-info" asp-controller="Aluno" asp-action="Carregar">Voltar</a>
                    <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">

    function btnIncluir() {
        $('#formCadastroAluno').submit(function (e) {
           e.preventDefault();

            $.ajax({
                url: '@Url.Action("Incluir", "Aluno")', 
                method: "POST",
                data: {
                    "Nome": $(this).find("#Nome").val(),
                    "Sobrenome": $(this).find("#Sobrenome").val(),
                    "CPF": $(this).find("#CPF").val(),
                    "Sexo": $(this).find("#Sexo").val(),
                    "Email": $(this).find("#Email").val(),
                    "RA": $(this).find("#RA").val(),
                    "Telefone": $(this).find("#Telefone").val(),
                },
                error:
                    function (r) {
                        if (r)
                            $.Notification.notify('error', 'top center', 'Falha', 'Ocoreru um erro.');
                    },
                success:
                    function (r) {
                        $.Notification.notify('success', 'top center', 'Sucesso', 'Salvo com sucesso.');
                    }
            });
       })
    }
</script>



