
@{
    ViewData["Title"] = "Biblioteca Kutanga";
}

<p></p>
<!-- Image and text -->

<div id="naveBar">
    <ul class="nav nav-tabs " style="background-color: azure">
        <li class="nav-item">
            <a asp-area="" class="btn btn-primary" asp-controller="Aluno" asp-action="Carregar">Aluno</a>
        </li>
        <li class="nav-item">
            <a asp-area="" class="btn btn-primary" asp-controller="Index" asp-action="">Autor</a>
        </li>
        <li class="nav-item">
            <a asp-area="" class="btn btn-primary" asp-controller="" asp-action="">Editor</a>
        </li>
        <li class="nav-item">
            <a asp-area="" class="btn btn-primary" asp-controller="" asp-action="">Livro</a>
        </li>
        <li class="nav-item">
            <a asp-area="" class="btn btn-primary" asp-controller="" asp-action="">Emprestímo</a>
        </li>
    </ul>

</div>



